# See http://help.github.com/ignore-files/ for more about ignoring files.

# node
/node_modules
npm-debug.log
yarn-error.log
package-lock.json

# vs code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

.env

# uploads
/public/uploads/*
.vercel
